---
kind: CustomResourceDefinition
apiVersion: apiextensions.k8s.io/v1
metadata:
  name: stalefeaturebranches.feature-branch.dmytrostriletskyi.com
spec:
  group: feature-branch.dmytrostriletskyi.com
  names:
    kind: StaleFeatureBranch
    listKind: StaleFeatureBranchList
    plural: stalefeaturebranches
    shortNames:
      - sfb
    singular: stalefeaturebranch
  scope: Namespaced
  versions:
    - name: v1
      schema:
        openAPIV3Schema:
          description: StaleFeatureBranch is the Schema for the stalefeaturebranches
            API
          properties:
            apiVersion:
              description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
              type: string
            kind:
              description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
              type: string
            metadata:
              type: object
            spec:
              description: StaleFeatureBranchSpec defines the desired state of StaleFeatureBranch
              properties:
                afterDaysWithoutDeploy:
                  minimum: 1
                  type: integer
                checkEveryMinutes:
                  default: 30
                  minimum: 1
                  type: integer
                namespaceSubstring:
                  type: string
              required:
                - afterDaysWithoutDeploy
                - namespaceSubstring
              type: object
            status:
              description: StaleFeatureBranchStatus defines the observed state of StaleFeatureBranch
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}

---
kind: Namespace
apiVersion: v1
metadata:
  name: stale-feature-branch-operator

---
kind: Deployment
apiVersion: apps/v1
metadata:
  namespace: stale-feature-branch-operator
  name: stale-feature-branch-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: stale-feature-branch-operator
  template:
    metadata:
      labels:
        name: stale-feature-branch-operator
    spec:
      serviceAccountName: stale-feature-branch-operator
      containers:
        - name: stale-feature-branch-operator
          image: dmytrostriletskyi/stale-feature-branch-operator:v0.0.1
          imagePullPolicy: Always
          env:
            - name: OPERATOR_NAME
              value: "stale-feature-branch-operator"
            - name: IS_DEBUG
              value: "true"
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name

---
kind: ServiceAccount
apiVersion: v1
metadata:
  namespace: stale-feature-branch-operator
  name: stale-feature-branch-operator

---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: stale-feature-branch-operator
  namespace: stale-feature-branch-operator
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - services
      - services/finalizers
      - endpoints
      - persistentvolumeclaims
      - events
      - configmaps
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
      - daemonsets
      - replicasets
      - statefulsets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
    verbs:
      - get
      - create
  - apiGroups:
      - apps
    resourceNames:
      - stale-feature-branch-operator
    resources:
      - deployments/finalizers
    verbs:
      - update
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - replicasets
      - deployments
    verbs:
      - get
  - apiGroups:
      - feature-branch.dmytrostriletskyi.com
    resources:
      - '*'
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch

---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: stale-feature-branch-operator
  namespace: stale-feature-branch-operator
rules:
  - apiGroups:
      - ""
    resources:
      - namespaces
    verbs:
      - get
      - list
      - delete
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
      - services
      - services/finalizers
      - endpoints
      - persistentvolumeclaims
      - events
      - configmaps
      - secrets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - apps
    resources:
      - deployments
      - daemonsets
      - replicasets
      - statefulsets
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
  - apiGroups:
      - monitoring.coreos.com
    resources:
      - servicemonitors
    verbs:
      - get
      - create
  - apiGroups:
      - apps
    resourceNames:
      - stale-feature-branch-operator
    resources:
      - deployments/finalizers
    verbs:
      - update
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - replicasets
      - deployments
    verbs:
      - get
  - apiGroups:
      - feature-branch.dmytrostriletskyi.com
    resources:
      - '*'
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch

---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: stale-feature-branch-operator
  namespace: stale-feature-branch-operator
subjects:
  - kind: ServiceAccount
    name: stale-feature-branch-operator
    namespace: stale-feature-branch-operator
roleRef:
  kind: Role
  name: stale-feature-branch-operator
  apiGroup: rbac.authorization.k8s.io

---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: stale-feature-branch-operator
  namespace: stale-feature-branch-operator
subjects:
  - kind: ServiceAccount
    name: stale-feature-branch-operator
    namespace: stale-feature-branch-operator
roleRef:
  kind: ClusterRole
  name: stale-feature-branch-operator
  apiGroup: rbac.authorization.k8s.io
